name: "DEV DEPLOY"

on:
  push:
    branches:
      - develop
      
permissions:
  id-token: write
  contents: read  
      
jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: dev
      aws-assume-role-arn: "arn:aws:iam::737213639641:role/github-actions-MatheusLiberalino-pipeline"
      aws-region: "sa-east-1"
      aws-statefile-s3-bucket: "matheusliberalino-sa-east-1-terraform-statefile"
      aws-lock-dynamodb-table: "matheusliberalino-sa-east-1terraform-lock"